:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee; /* Cor principal usada */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: var(--text-color);
    font-size: 1.2em;
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-align: center;
    text-decoration: none;
    color: var(
        --main-color
    ); /* Usando a variável --main-color para a cor do texto */
    background-color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    display: block; /* Mudando para block para ocupar toda a largura disponível */
    width: 100%; /* Ocupando toda a largura disponível */
    margin: 0 auto; /* Centralizando horizontalmente */
    font-size: 1.2em;
}
